/* css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    position: relative;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* custom rules */

* {
    box-sizing: border-box;
}

body,
input,
button {
    font-family: 'Source Code Pro', monospace;
}

.ticker {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: "Montserrat";
    margin-top: -23px;
}

section.asset-block {
    width: 20%;
    background: #f7f7f7;
    float: left;
    padding: 15px;
    box-shadow: inset 3px 3px #fff, inset -3px -3px #fff;
    text-align: center;
    position: relative;
}

.coins-up-5 section {
    width: 20%;
}

.coins-up-4 section {
    width: 25%;
}

.coins-up-3 section {
    width: 33.33333333%;
}

.coins-up-2 section {
    width: 50%;
}

.coins-up-1 section {
    width: 100%;
}

@media (max-width: 1200px) {
    .coins-up-5 section {
        width: 33.3333333%;
    }
    .coins-up-4 section {
        width: 33.3333333%;
    }
}

@media (max-width: 700px) {
    .coins-up-5 section,
    .coins-up-4 section,
    .coins-up-3 section {
        width: 50%;
    }
}

@media (max-width: 460px) {
    .coins-up-5 section,
    .coins-up-4 section,
    .coins-up-3 section {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .open .coins-up-5 section,
    .open .coins-up-4 section,
    .open .coins-up-3 section {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .open .coins-up-5 section,
    .open .coins-up-4 section,
    .open .coins-up-3 section {
        width: 100%;
    }
}

section h1 {
    font-size: 12px;
}

section h2 {
    font-size: 20px;
}

section h3 {
    font-size: 14px;
}

section h4 {
    font-size: 12px;
}

.left-panel {
    width: auto;
    min-height: 100%;
    margin-left: 0;
    transition: 1s all;
}


/* .open .left-panel {
  margin-right: 350px;
} */

.left-panel>header {
    background: #3d3c40;
    padding: 40px;
    text-align: center;
    color: #fff;
}

#total_value {
    font-size: 72px;
    margin: 10px;
}

@media (max-width: 460px) {
    #total_value {
        font-size: 48px;
    }
}

#settings {
    width: 350px;
    background: #3d3c40;
    border-radius: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(115%);
    transition: .3s ease-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#settings h1,
#settings h2,
#settings h3 {
    color: #fff;
}

.settings-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.open #settings {
    transform: translateX(0%);
}

#settings>.settings-inner>header {
    padding: 15px;
    background: #313033;
}

#settings .content {
    padding: 15px;
}

#settings section {
    /* padding-bottom: 20px; */
    /* border-bottom: 1px solid #4d4c51; */
}

#settings h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #928f9d;
    font-size: 14px;
}

#close-settings {
    background: none;
    border: none;
    padding: 0;
    color: #fff;
    outline: none;
    position: absolute;
    top: 15px;
    right: 15px;
}

.coin-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.coin-select {
    max-width: 150px;
}

.asset-value {
    font-size: 24px;
    margin: 5px 0;
}

.current-price {
    font-size: 16px;
}

.current-price span {
    font-size: 12px;
    position: relative;
    top: -2px;
    left: 3px;
}

div.amount {
    margin-top: 5px;
    font-size: 12px;
}

.price-change {
    color: red;
}

.price-change.positive {
    color: green;
}

input.amount {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background: #313033;
    color: #fff;
    border: none;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 1px;
}

#settings-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

#settings-button span {
    color: #fff;
    position: relative;
    top: -8px;
}

.settings-icon {
    filter: invert(0.5);
    width: 24px;
}

.settings-icon:hover {
    filter: invert(1);
}

#assets_table .choices__list {
    max-width: 150px;
}

.choices__inner {
    font-size: 12px;
    min-height: auto;
}

.choices__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#add_tokens {
    position: relative;
}

#add_tokens h3 {
    margin-top: 20px;
}

#add {
    background: #4d4c51;
    color: #928f9d;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 218px;
}

#add_tokens table td {
    vertical-align: top;
    padding-bottom: 4px;
}

#add_tokens table td:nth-child(2) {
    padding: 0 3px;
}

#save {
    background: #6462fc;
    border: none;
    color: #fff;
    padding: 8px 12px;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    display: block;
    margin-top: 40px;
}

.delete {
    padding: 0px 4px;
    border: none;
    border-radius: 50%;
    background: #555459;
    color: #928f9d;
    position: relative;
    top: 9px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#video-progress {
    -webkit-appearance: none;
    border: none;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    z-index: 1;
}

progress[value]::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 20px;
}

progress[value]::-webkit-progress-value {
    background-color: #6462fc;
}

@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
        padding-right: 0;
    }
}